{% extends "shortener/base.html" %}
  
{% block title %}URL Shortner - Make your URL shorter!{% endblock %}
  
{% block content %}
  
<div class="panel panel-default">
 <div class="panel-body">
     {% if not view %}
     <form class="form" action="/shortener/shortenUrl/" method="POST">
         {% csrf_token %}
         {{form}}
         <br><button type="submit" class="btn btn-primary">Add Url</button>
     </form>
     {% endif %}
 </div>
 <br>
 <form method="get" action=".">
     <div class="row">
         <div class="col-md-2 col-sm-12">
             <div class="form-group">
                 <input type="text" name="query" value="{{query}}" class="form-control" placeholder="Enter workshop name"/>
             </div>
         </div>
     </div>
 </form>
 <div class="card">
     <table class="table table-hover card-header" id="urls">
         <thead>
             <tr>
                 <th>Workshop Name</th>
                 <th>Workshop Code</th>
                 <th>Workshop Form Url</th>
             </tr>
         </thead>
         <tbody>
             {% for d in data %}
                 <tr class="form">
                     <td>{{d.name}}</td>
                     <td>{{d.shortId}}</td>
                     <td>{{d.shortUrl}}</td>
                 </tr>
             {% endfor %}
         </tbody>
     </table>
 </div>
</div>
{% endblock %}
